{% extends "base.html" %}

{% block content %}

<h1>System Information</h1>

<div class="card">
    <h3>Project Title:</h3>
    <p>AI-Integrated Hybrid Multi-Sensor System for Real-Time Muscle Cramp Risk Detection</p>

    <h3>Sensors Used:</h3>
    <ul style="text-align:left;">
        <li>EMG Sensor – Muscle Electrical Activity</li>
        <li>GSR Sensor – Skin Conductance</li>
        <li>Flex Sensor – Muscle Movement Detection</li>
    </ul>

    <h3>Purpose:</h3>
    <p>This system monitors biosignals and identifies muscle cramp risk in real-time.</p>
</div>

{% endblock %}